.player {
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName {
    font-size: larger;
    font-weight: bolder;
    display: block;
}

.playerHand {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.hand {
    display: flex;
}