.login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .login-form {
    min-width: 300px;
    text-align: center;
    width: 750px;
    padding: 5%;
    backdrop-filter: blur(8px); 
    background-color: rgba(25, 135, 84, 0.2); 
    border-radius: 20px; 
  }
  
  
  